// Colors
$link: #007FFF;
$purple: #800080;
$text: #003F5E;
$focus: #FFFDF7;
$success: #A1D030;
$successBackground: #CEED82;
$alert: #A18048;
$alertBackground: #FFF2AD;
$error: #C41230;
$errorBackground: #F2B3B3;
$highlight: #501D3D;
