@import "compass/css3";
@import "colors";

body {
	text-align: left;
	background: white;
	color: lighten(black, 20%);
	padding-left: 10px;
}

aside {
	width: 22%;

	h5 {
		border-bottom: 1px solid #DDD;
	
		i {
			font-size: 1.4em;
			line-height: 0.4em;
			margin-right: 5px;
		}
	}
}

#visits {
	background: #F9f9f9;
	padding: 10px;

	li {
		border-bottom: 1px solid #ccc;
		width: 235px;
		padding: 10px;
		height: 60px;

		&:hover {
			background: $text;
			cursor: pointer;
			box-shadow: none;

			.information {
				color: white;

				span {
					color: white;
				}
			}

			i {
				color: #ccc;
			}
		}
		
		&.selected, &.selected:hover {
			background: white;
			border: 1px solid #FFF;
			box-shadow: inset 1px 1px 3px #bbb;
			cursor: auto;
			
			i {
				color: #777;
			}
			
			.information {
				color: $text;
				
				span {
					color: black;
					
				span.active {
						color: darken($success, 10%);
						font-size: 1.1em;
					}
				}
			}
		}

		.icon-chevron-right {
			font-size: 1.7em;
			display: inline-block;
			padding: 0 7px;
			color: #777;
			vertical-align: top;
			margin-top: -3px;
		}

		.select-visit {
			font-size: 1em;
			margin-top: 8%;
		}

		.information {
			display: inline-block;
			color: $text;
			width: 85%;
			
			.icon-calendar {
				font-size: 1.2em;
			}

			span {
				font-size: 0.75em;
				color: black;
				display: inline-block;

				&.active {
					color: darken($success, 10%);
					font-family: "OpenSansBold";
					display: inline-block;
				}
			}

			strong {
				width: 170px;
				font-size: 1em;
				display: block;
				font-weight: normal;
				overflow: hidden;
				height: 45px;
			}
		}
	}
}