@import "compass/css3";
@import "colors";

.retro {
  width: 960px;

  h1 {
    text-align: left;
  }

  aside.history {
    display: inline-block;
    vertical-align: top;
    background: #FFF;
    width: 220px;
    text-align: left;
    li {
      border: 1px solid #EEE;
      border-bottom: none;
      border-right: none;
      padding: 10px;
      &:first-child {
        @include border-top-left-radius(4px);
      }
      &:last-child {
      border-bottom: 1px solid #EEE;
        @include border-bottom-left-radius(4px);
      }
      &.done {
        color: #BBB;

        .icon {
          display: none;
        }
      }
      &.doing {
        background: $link;
        color: #FFF;

        .icon-ok {
          display: none;
        }
      }
      &.to-do {
        .icon-ok {
          display: none;
        }
      }
      i {
        display: inline-block;
        font-size: 1em;
        border: 3px solid;
        margin: 0 10px 0 0;
        @include border-radius(50%);
        span {
          font-style: normal;
          font-weight: 700;
          padding: 0px 5px; 
          margin-top: -3px;
        }
      }
      span {
        display: inline-block;
        vertical-align: middle;
        em {
          display: block;
          font-size: .7em;
        }
      }
    }
  }

  #checkin-info {
    display: inline-block;
    border-left: 3px solid #EEE;
    width: 765px;
    text-align: left;
    padding: 10px;
    background: #F9F9F9;
    
    img.field_check {
      vertical-align: middle;
    }
    p {
      label {
        font-size: 1.2em;
      }
    }

    select, input {
      &.selected {
        border: 2px solid $link;
      }
    }

  form {
    display: none;

    &.active {
      display: block;
    }

    .select {
      input {
        display: none;
      }
      label {
        display: block;
        font-size: 0.8em;
        
        &:hover {
          background: $link;
        }
      }
    }
  }

  }

  section.focused {
    span.value {
      display: none;
    }

    ul {
      display: block;
      list-style: none;
      padding: 20px 0px 20px 50px;

      li {
        .optionsList {
          display: inline-block;
          background-color: white;
          color: black;
          border: 3px solid #F0F0F0;
          padding: 5px;
          margin-bottom: 20px;

          .selectedOption {
            background-color: #BBB;
            font-weight: bold;
          }

          .option {
            font-size: 1.0em;
            display: block;
            padding: 3px 15px;
            width: 250px;
          }

          .option:hover, .option:focus, .focusedOption {
            color: white;
          }
        }
      }
    }
  }

}
