//page styling
body {
	background: #EFEFEF;
}

#styleguide {
	width: 60%;
	margin: 0 auto;
}

#colors {
	figure {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		background: white;
		display: block;
		float: left;
	}

	h2 {
		clear: both;
	}
}

#typography {
	clear: both;

	em, strong, small {
		display: block;
	}
}

#forms {
	input, select {
		display: block;
	}

	fieldset {
		border: 0;
	}

	label {
		float: left;
		display: block;
	}

	.checkboxes, .radios {
		input, select {
			float: left;
		}
	}
}



//style guide styling