@import "compass/css3";
@import "stylesheet";
@import "colors";


// Mixins

@mixin button($tcolor: #FFF, $bcolor: #DDD, $font: $text) {
  @include border-radius(3px); 
  background-color: $bcolor;
  @include background(linear-gradient(top, $tcolor, $bcolor));
  border: $bcolor 1px solid;
  padding: 8px 20px;
  display: inline-block;
  line-height: 1em;
  color: $font;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    background: lighten($bcolor, 2%);
    border-color: darken($bcolor, 5%);
  }
  i {
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    line-height: .5em;
  }
  &.big {
    i {
      display: block;
      font-size: 50px;
      margin: 0 auto;
      padding: 10px;
    }
  }
  &.disabled {
    background: #EEE;
    border: #CCC 1px solid;
    color: #CCC;
    cursor: default;
  }
}

//page styling
body {
	background: #EEE;
  font-family: "OpenSans", Arial, sans-serif;
  color: #003F5E;
  text-align: center;

}

table {
  margin: 0 auto;
}

i {
  font-size: 4em;
  padding: 0.2em;
  &.link {
    font-size: 0.7em;
  }
  &.small {
    font-size: 1.2em;
    line-height: 1em;
  }
  &.medium {
    font-size: 2em;
  }
}

ul, ol, li {
  margin: 0;
  padding: 0;
}

ol {
  display: inline-block;
  padding: 0 10px;
  margin: 0 0 0 20px;
}

ul {
  list-style: none;
}

hr {
  border: 0;
  border-bottom: 1px solid #FFF;

}

#styleguide {
	width: 80%;
	margin: 10px auto;
  background: #FFF;
  padding: 20px;
  @include border-radius(5);
}

header {
  background-color: $highlight;
  position: relative;
  color: #CCC;
  @include border-radius(5px);
  a, a:visited, a:hover, a:link {
    color: white;
  }
  h1 {
    color: #FFF;
    margin: 0;
    padding: 10px
  }
  .logo {
    float: left;
    margin: 4px;
    img {
      width: 120px;
    }
  }
  .user_options {
    text-align: right;
    li {
      display: inline-block;
      margin: 10px 0 10px 20px;
      &.change_location, &.logout {
        color: white;
      }
      &.change_location {
        border: 1px solid lighten($highlight, 5%);
        @include border-radius(3px);
        a {
          display: block;
        }
        &:hover {
          background: lighten($highlight, 5%);
          a:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}

article {
  padding: 10px;
  width: 80%;
  margin: 10px auto;
  border: 1px solid #EEE;
  &.wrapper {
    border: none;
    margin: 0 auto;
    margin-top: 10px;
    width: 83%;
    padding: 0;
  }
}

a {
  color: lighten($link, 20%);
  text-decoration: none;
  &:hover {
    color: lighten($link, 10%);
    text-decoration: underline;
  }
  &:visited, &.visited {
    color: darken($link, 10%);
  }
}

blockquote, code {
  display: block;
  text-align: left;
}

code {
  padding: 10px;
  border: 1px solid #555;
  margin-top: 10px;
}

h1, h2, h3, h4, h5, h6 {
    color: $highlight;
    clear: both;
    margin: 10px 0;
  }
  h1 {
    font-size: 2em;
    margin: 10px 0 20px 0;
  }
  h2 {
    font-size: 1.67em;
    color: lighten($highlight, 15%);
    em {
      font-size: 0.7em;
      color: lighten($highlight, 30%);
      display: block;
      font-weight: 100;
      margin-bottom: 40px;
    }
  }
  h3 {
    font-size: 1.5em;

  }

  h4 {
    font-size: 1.33em;
    color: lighten($highlight, 15%);
  }
  h5 {
    font-size: 1.17em;
  }
  h6 {
    font-size: 1.13em;
    color: lighten($highlight, 15%);
  }

#colors {
  ul {
    overflow: hidden;
    li {
      display: inline-block;
      list-style: none;
      margin-right: 20px;
      p {
        clear: both;
        text-align: center;
        padding: 5px;
        font-size: 12px;
        color: #999
      }
      span {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: white;
        display: block;
        float: left;
      }
    }
    h2 {
      clear: both;
    }
  }
}

#typography {
	clear: both;

  .fonts {

    li { 
      display: bock;
      float: none;
    }
  }

  p {
    margin: 0 0 10px 0;
  }

  .title {
    font-weight: 700;
    font-family: "OpenSansBold"
  }

  .body {
    font-weight: 400;
  }

  .small {
    font-weight: 300;
    font-family: "OpenSansLight"
  }
}

form, section {
  overflow: hidden;
  input, select, textarea, ul.select {
    min-width: 80%;
    color: $text;
    display: block;
    padding: 5px 10px;
    margin: 0;
    background-color: #FFF;
    border: 1px solid #DDD;
    &:focus {
      outline: none;
      background: $focus;
    }
  }

  select[disabled] {
    background: #EEE;
    border: #CCC 1px solid;
    color: #CCC;
  }

  fieldset {
    border: 1px solid #EEE;
    display: inline-block;

    legend {
      text-align: left;
      padding: 0 10px;
      font-weight: 300;
      text-transform: uppercase;
    }
  }

  label {
    display: block;
    text-align: left
  }

  input[type="checkbox"], input[type="radio"] {
    padding: 0;
    margin: 5px;
  }
  input[type="submit"] {
    @include button();
    margin-top: 30px;
    display: inline-block;
    min-width: 0;
    float: right;
  }

  .checkboxes, .radios {
    input, select {
      float: left;
      width: auto;
    }
  }
}

form {
  ul.select { 
    text-align: left;
    margin: 0 20px;
    padding: 0;
    li {
      text-align: left;
      display: inline-block;
      width: 228px;
      padding: 5px;
      color: $link;
      background-color: #FFF;
      border-bottom: 1px solid #EFEFEF;
      margin: 0 10px;
      &:hover {
        background-color: $link;
        color: white;
        cursor: pointer;
      }
      &.selected {
        background-color: $link;
        border-color: transparent;
      }
    }
  }
}

#buttons {
  display: block;
  overflow: hidden;

  li {
    display: inline-block;
    margin: 10px;
  }

  h3 span {
    display: inline-block;
    font-size: 0.7em;
    font-weight: normal;
    color: $text;
  }
}

.button, button, input[type="submit"] {
  @include button;

   &.confirm {
    @include button($success, darken($success, 8%), white);
  }
  
  &.cancel {
    @include button($error, darken($error, 8%), white);
  }
}

ul.green_btns {
  .button, button, input[type="submit"] {
    @include button($success, darken($success, 8%), white);
  }   
}

.clear {
  clear: both;
}
.left {
  float: left;
}
.right {
  float: right;
}

.note {
  display: inline-block;
  padding: 10px;
  margin-top: 20px;
  overflow: hidden;
  clear: both;
  position: relative;

  .icon {
    position: absolute;
    i {
      padding: 0;
      padding-right: 20px;
    }
  }
  .text {
    display: inline-block;
    padding-left: 35px;
    p {
      margin: 5px;
      text-align: left;
    }
  }
  &.warning, &.success, &.error {
    border: 1px solid transparent;
  }
  &.warning {
    background: lighten($alert, 10%);
    border-color: $alert;
  }
  &.success {
    background: lighten($success, 10%);
    border-color: $success
  }
  &.error {
    background: lighten($error, 10%);
    border-color: $error;
    color: white;
  }
}

#tables {
  table {
    display: inline-block;
    th, td {
      padding: 10px 20px;
      border: 1px solid #DDD;
     }
    tr {
      border: 1px solid #eee;
    }
    tr:nth-child(even) {
      background: $focus;
    }
    tr:nth-child(odd) {
      background: #F9F9F9;
    }
    thead th {
      border-bottom: 2px solid #DDD;
      background: #EEE;
    }
  }
}

form {
  width: 100%;
  display: block;
  p {
    padding: 0 20px;
  }
  label {
    margin-top: 3%;
  }

  input[type="text"], input[type="password"] {
    margin-top: 3%;
  }

  input[type="submit"] {
    @include button($success, darken($success, 8%), white);
  }

  fieldset {
  }
}



#styleguide.merge {
  text-align: left;
  overflow: hidden;

  .patient {
    background: #F9F9F9;
    border: 2px solid #CCC;
    width: 320px;
    float: left;
    @include border-radius(4px);
    .row {
      padding: 10px;
      background: #EAEAEA;
      margin: 1px;
      div {
        span { display: block }
      }
    }
    h3 {
      font-size: 1.2em;   
      margin: 0
    }
    &:hover {
      border-color: $link;
    }
    &.selected {
      background: lighten($link, 10%);
      border-color: $link;
      .row {
        background: $link;
        h3 {
          color: #003F5E;
        }
        div {
          color: #FFF;
        }
      }
    }
  }
  .arrows {
    float: left;
  }
}

#confirmation-dialog {
  background: #eee;
  padding-bottom: 40px;
  padding-top: 20px;
}

.dialog {
  width: 450px;
  padding: 0 0 30px 0;
  text-align: left;
  background: white;
  margin: 0 auto;
  @include border-radius(3px);
  @include box-shadow(2px 2px 15px #999, -2px -2px 15px #999);

  .dialog-header {
    background: $highlight;
    color: white;
    padding: 0 30px;
    padding-top: 5px;
    border-bottom: darken($highlight, 20%) 1px solid;
    @include border-top-radius(3px);
  }

  .dialog-content {
    padding: 0 30px;

    h5 {
      margin: 0;
    }
    li {
      border-bottom: 1px  solid #eee;
      margin-bottom: 10px;
    }
  }

  i {
    font-size: 1.8em;
    color: white;
  }

  h3 {
    width: 350px;
    text-align: center;
    display: inline-block;
    color: white;
  }

  ul {
    margin-bottom: 40px;
  }
}
